@font-face {
	font-family: "Acme";
	src: local("Acme Regular"), local("Acme-Regular"), url("https://fonts.gstatic.com/s/acme/v7/RrQfboBx-C5_XxrBbg.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	font-family: Acme;
	background: #13182d;
	min-width: 750px;
	margin: 0;
	padding: 0;
	color: #eee;
}


input::placeholder {
	font-size: 10px;
}
#pnclip1, #pnclip2, #pnclip3, #pnclip4{
	width:90%;
	padding:2px 5px;
	border:1px solid;
	border-radius:0px;
}
#pnclip1{
	border-radius:4px 4px 0 0;
	border-bottom:0;
}
#pnclip3{
	border-width:0px 1px;
}
#pnclip4{
	border-radius:0 0 4px 4px;
}

select {
	padding: 9px;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	margin: 10px 0;
}
input[type="text"] {
	padding: 9px;
	border-radius: 4px;
	border: 0;
	margin: 0 10px;
}
input[type=checkbox] {
	padding: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	height: 15px;
	width: 40px;
	background: #fff;
	margin: 0 0 -2px;
	margin-right: 8px;
}
input[type=checkbox]::before {
	content: "•";
	position: absolute;
	top:calc(50% - 8px);
	left:8px;
}
input[type=checkbox]:checked {
	background: #e6ce93;
}
input[type=checkbox]:checked::before {
	font-family:Arial;
	content: '✔';
	display: block;
	color: #000;
	font-size: 18px;
	position: absolute;
	top:-3px;
	right:8px;
	left:unset;
} 

.maincolumn {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:15px;
}
.toptitle {
	padding: 15px 38px 5px;
	font-size: 2.6em;
	font-weight:700;
	line-height:58px;
	margin-top: -50px;
}

.settings section {
	border-radius: 6px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	margin-bottom:30px;
}
.settings section main {
	padding: 12px 24px 12px;
	margin: 0;
	border-radius: 0 0 4px 4px;
}
.settings section main h5 { font-size: 1.2em; display: block;margin: 5px 0 10px;font-weight: normal;}
.settings section main h5 img {
	height: 20px;
	margin: 0 7px 0 5px;
}
.settings section main strong {
	font-size:1.2em;
}

.logo {
	z-index: 9;
	padding: 0 10px;
	margin: 10px 20px 40px auto;
	width: -moz-max-content;
	width: max-content;
}
.logo strong {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid;
	display: inline-block;
	vertical-align: middle;
}
.logo img {
	margin: 10px 0 10px 25px;
	display: inline-block;
	vertical-align: middle;
	height: 40px;
}
#credits {
	font-size: 14px;
	color: #888;
	cursor:default;
}
#credits #cgu {
	margin-top: 10px;
	cursor: pointer;
	color: rgba(0,0,255,.5);
	display: block;
}


.content-grid {
	display: grid;
	grid-template-columns: auto max-content;
	grid-gap: 50px;
	min-width: 750px;
}
.right-column {
	width:320px;
}
#psaved {
	display: none;
	border-radius: 5px 5px 0 0;
	background-color: rgba(20, 186, 45);
	max-width: 500px;
	position: fixed;
	right: 25px;
	z-index: 5;
	bottom: 0;
	width: 300px;
}
#psaving {
	text-align: center;
	position: fixed;
	right: 25px;
	z-index: 5;
	bottom: 0;
	width: 300px;
	background: 0f1324;
	border-radius: 5px 5px 0 0;
	display: block;
}
#psaving #ok {
	padding: 10px 20px 20px;
	font-size: 15px;
	text-align: center;
}
#psaving button {
	padding: 8px 10px;
	border: 1px solid #ccc;
	margin: 10px 15px 0 5px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: ;
}
#psaved div {
	padding: 16px 12px;
	font-size: 16px;
	border-radius: 0 0 4px 4px;
	text-align: center;
}

.navigation .subtitle {
	font-weight: 700;
}
.navigation {
	text-align: right;
	padding: 20px;
	margin: 0 0 30px;
	position: absolute;
	right: 0;
	width: 320px;
	background-color: #13182d;
}
@media (max-width:1130px) {
	.navigation {
		position: relative;
	}
}
.navigation section {
	background: #0f1324;
	font-size: 15px;
	padding: 20px 40px 20px 20px;
	border-radius: 4px 0 0 4px;
	margin: 20px -20px 20px 0;
	user-select: none;
	-webkit-user-select: none;
	position: relative;
	cursor: pointer;
}
.navigation section span {
	position: absolute;
	font-size: 2em;
	top: 3px;
	left: 20px;
	border-radius: 50%;
	background-color: #06070d;
	padding: 5px;
}

.maintenance a {
	cursor: pointer;
	padding: 9px 12px;
	background-color: rgba(255, 255, 255, .4);
	border-radius: 4px;
	margin-right: 0px;
	margin-left: 10px;
	color: #000;
	text-decoration: none;
}


.settings .setting {
	margin: 20px 0;
}
.settings section {
	position:relative;
}
.settings section:nth-child(1) {
	background-color:rgba(158, 19, 186, .2);
}
.settings section:nth-child(2) {
	background-color:rgba(19,86,186,.2);
}
.settings section:nth-child(3) {
	background-color:rgba(19,163,183,.2);
}
.settings section:nth-child(4) {
	background-color:rgba(19,180,122,.2);
}
.settings section:nth-child(5) {
	background-color:rgba(19,177,44,.2);
}
.settings section:nth-child(6) {
	background-color: rgba(69,174,19,.2);
}
.settings section:nth-child(7) {
	background-color: rgba(141, 172, 19,.2);
}
.settings section:nth-child(8) {
	background-color: rgba(166, 97, 20, .2);
}
.settings section:nth-child(9) {
	background-color: rgba(166, 20, 20,.2);
}
.settings section:nth-child(10) {
	background-color: rgba(84, 20, 166, 0.2);
}
